NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_STRIPE_PRICE_PRO=
NEXT_PUBLIC_STRIPE_PRICE_ELITE=
NEXT_PUBLIC_STRIPE_PRICE_ENTERPRISE=

NEXT_PUBLIC_STRIPE_PRICE_PRO_ANNUAL=
NEXT_PUBLIC_STRIPE_PRICE_ELITE_ANNUAL=
NEXT_PUBLIC_STRIPE_PRICE_ENTERPRISE_ANNUAL=
